/* RESET */
html,
body,
main,
div,
h1,
section,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.titulo-container {
  width: 100%;
  margin-top: .5rem;

  border: 2px solid black;
}

.titulo-container h1 {
  text-align: center;
}

.reguladora {
  width: 210px;
  height: 0px;
}

.standBy {
  width: 150px;
  height: 90px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  border: 1px solid black;
}

.game-container {
  width: 100%;
  height: 50vh;
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;

  /* border: 1px solid black; */
}

.game-coluna {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
}

.coluna-container {
  width: 120px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid black;
}

.game-coluna:hover {
  cursor: pointer;
}

#peca-1 {
  width: 25px;
  height: 20px;
  background-color: #00f;
}

#peca-2 {
  width: 50px;
  height: 20px;
  background-color: #0f0;
}

#peca-3 {
  width: 75px;
  height: 20px;
  background-color: #f00;
}

#peca-4 {
  width: 100px;
  height: 20px;
  background-color: #333;
}

.game-coluna {
  background-color: #000;
  height: 150px;
  width: 10px;
}

#start h2,
#offset h2,
#end h2 {
  position: absolute;
  margin-bottom: 40vh;
}

.coluna-selecionada {
  background: rgba(90, 90, 90, 0.75);
}

.button-reset {
  margin-top: 2rem;
  background: none;
  outline: none;
  background-color: purple;
  border: none;
  padding: 1.5rem;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.button-reset:hover {
    cursor: pointer;
}

.button-reset:active {
    background-color: rgb(53, 0, 53);
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-vitoria-active {
    background-color: rgba(0, 0, 0, 0.712);
    width: 90%;
    height: 120vh;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
}

.mensagem-vitoria h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.mensagem-vitoria figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagem-vitoria figure img {
    width: 70%;
}

.hidden {
    display: none;
}

@media screen and (min-width: 900px) {
  .titulo-container {
    width: 100%;
    margin-top: 2rem;

    border: 2px solid black;
  }

  .titulo-container h1 {
    text-align: center;
  }

  .standBy {
    width: 300px;
    height: 150px;
  }

  .game-container {
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    margin-bottom: 2rem;

    border: 1px solid black;
  }

  .coluna-container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }

  .game-coluna {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  #peca-1 {
    width: 50px;
    height: 30px;
    background-color: #00f;
  }

  #peca-2 {
    width: 100px;
    height: 30px;
    background-color: #0f0;
  }

  #peca-3 {
    width: 150px;
    height: 30px;
    background-color: #f00;
  }

  #peca-4 {
    width: 200px;
    height: 30px;
    background-color: #333;
  }

  .pecas {
    border: 1px solid black;
    border-radius: 5px;
  }

  #start,
  #offset,
  #end {
    background-color: #000;
    height: 200px;
    width: 10px;
  }

  #start h2,
  #offset h2,
  #end h2 {
    position: absolute;
    margin-bottom: 40vh;
  }

  #reset {
    position: absolute;
    margin: -140vh 0 0 75vw;
  }

  .modal-vitoria-active {
      height: 100vh;
  }
}
